* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Ramen;
    src: url(fonts/RAMEN\ ICHIKARU.otf);
}

@font-face {
    font-family: Dyslexyei;
    src: url(fonts/OpenDyslexicMono-Regular.otf);
}

.navbuttons {
    display:  flex;
    justify-content: space-evenly;
    background-color: rgb(101, 101, 141);
    padding: 20px;
    width: 15em;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 7em;
    padding: 30px;
    font-family: Ramen;
}

hr {
    margin-top: 20px;
}

p {
    font-family: Dyslexyei;
    
}

body {
    
    color: rgb(70, 70, 70);    

    background-image: url(img/IMG_2295.JPG);
    background-size: 100%;
    background-repeat: no-repeat;
    
}

header {
    background-color: rgba(0, 255, 255, 0.602);
}

main {
    background-color: rgba(137, 215, 215, 0.662);
}

footer {
    background-color: rgba(255, 0, 149, 0.602);
}

ul {
    display: flex;
    justify-content: center;
}

li {
    margin: 1%;
    list-style: none;
}

#index-image {
    height: 500px;
}

#interactivemap {
    width: 20vw;
    
}
.layout {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}